/* Comment Dialog Drop Zone */
.comment-dialog-drop-zone {
  padding: 0 0 0 10px;
  display: inline-block;
  .issue-drop-zone__target {
    position: relative;
  }

  .upload-progress-bar {
    display: inline;
    float: left;
    padding: 0;
    margin: 0;
  }
}

.jira-dialog .aui-dialog2-content .attach-files-drop-zone__dragover-mask {
  top: 0;
  bottom: 0;
}
